{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <h3>Aktive Mitglieder des Verein FS04</h3>
        <br>
        <table class="table table-striped add-to-cart">
            <thead>
            <tr>
                <th>Name</th>
                <th>Email-Adresse</th>
            </tr>
            </thead>
            <tbody>
            {% for active_member in active_members %}
                <tr>
                    <td>{{ active_member.first_name }} {{ active_member.last_name }}</td>
                    <td>{{ active_member.email }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
