{% extends 'base.html' %}


{% block content %}


    <div class="container">
        <h3>Lager Übersicht</h3>
        <br>
        <table class="table table-striped add-to-cart">
            <thead>
            <tr>
                <th>Skript-Nr.</th>
                <th>Skriptname</th>
                <th>Autor</th>
                <th>Studiengruppe</th>
                <th>Gesamtmenge</th>
                <th>Frei</th>
                <th>Fach-Nr.</th>
            </tr>
            </thead>
            <tbody>
            {% for stock_info in stock_infos %}
                <tr>
                    <td>{{ stock_info.article.article_number }}</td>
                    <td>{{ stock_info.article.name }}</td>
                    <td>{{ stock_info.article.skript.author }}</td>
                    <td>
                        {% for studygroup in stock_info.article.skript.studygroup.all %}
                            <li>{{ studygroup }}</li>
                        {% endfor %}
                    </td>
                    <td>{{ stock_info.amount_available|add:stock_info.amount_reserved }}</td>
                    <td>{{ stock_info.amount_available }}</td>
                    <td>{{ stock_info.article.shelf_number }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
