{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load membership_fee_tag %}

{% block content %}

    {% if error_message %}
        <div class="container">
            <div class="alert alert-danger">
                <strong>{{ error_message }}</strong>
            </div>
        </div>
    {% endif %}

    {% if success_message %}
        <meta http-equiv="refresh" content="1;url={% url 'skripten-shop:ausgabe' %}">
        <div class="container">
            <div class="alert alert-success">
                <strong>{{ success_message }}</strong>
            </div>
        </div>

    {% elif students %}

        <div class="container">
            <div class="panel panel-warning">
                <div class="panel-heading">Aktivierung</div>
                <div class="panel-body">
                    <p>Geburtsdatum: {{ birth_date|date:"d.m.Y" }}</p>
                    <p><strong>Bitte den zutreffenden Namen aus der Liste wählen:</strong></p>
                    <p><strong style="color: red">Mitgliedsbeitrag in höhe von {% membership_fee %}€ kassieren</strong>
                    </p>

                    <br>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for student in students %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optradio" value="{{ student.user.id }}">
                                    <strong>{{ student.user.first_name }} {{ student.user.last_name }}</strong>
                                </label>
                            </div>
                        {% endfor %}
                        <br>
                        <input class="btn btn-success" type="submit" name="save" value="Speichern">
                    </form>
                </div>
            </div>
        </div>

    {% else %}

        <div class="container">
            <div class="panel panel-warning">
                <div class="panel-heading">Aktivierung</div>
                <div class="panel-body">

                    <h4>Es wurde kein Student mit dieser Legic ID gefunden!</h4>
                    <ul>
                        <li>Bei <strong>Neuregistrierung</strong> Geburtsdatum in das Feld unten eintragen und "Suchen"
                            Button betätigen
                        </li>
                        <li>Bei einem <strong>neuen Studentenausweis</strong> den Button "Legic Aktualisierung"
                            betätigen
                        </li>
                    </ul>

                    <a class="btn btn-danger" role="button" href="{% url 'skripten-shop:newlegic' %}">
                        Legic Aktualisierung</a>
                    <br>
                    <br>
                    <form action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-primary" type="submit" name="search" value="Suchen">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}