{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>
                        <div class="alert alert-danger">
                            <strong>{{ message }}</strong>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <ul>
            <li>{{ student.user.first_name }} {{ student.user.last_name }}</li>
            <li>{{ student.user.email }}</li>
            <li>{{ student_order.count }}</li>
        </ul>

        {% if student_order %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped" id="article-table">
                        <thead>
                        <tr>
                            <th>Skriptnummer</th>
                            <th>Skriptname</th>
                            <th>letze Änderung</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in student_order %}
                            <tr>
                                <td>{{ order.article.article_number }}</td>
                                <td>{{ order.article.name }}</td>
                                <td>{{ order.last_modified_date.date }}</td>
                                <td>{{ order.get_status_display }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}

        {% if articles %}
            <form action="" method="post">
                <table class="table table-striped" id="article-table">
                    <thead>
                    <tr>
                        <th>Skriptnummer</th>
                        <th>Skriptname</th>
                        <th>Professor</th>
                        <th>Verwender</th>
                        <th>Lagerbestand</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.article_number }}</td>
                            <td>{{ article.name }}</td>
                            <td>{{ article.skript.author }}</td>
                            <td>
                                {% for verwender in article.skript.users.all %}
                                    <li>{{ verwender }}</li>
                                {% endfor %}
                            </td>

                            {% if article.aritcleinstock.amount < 1 %}
                                <td style="color: red; font-weight: bold">{{ article.amount }}</td>
                                <label><input type="checkbox" name="selected_articel[]"
                                              value="{{ article.id }}"
                                              disabled=""></label>
                            {% else %}
                                <td>{{ article.aritcleinstock.amount }}</td>
                            {% endif %}

                            <td>
                                <div class="checkbox">
                                    {% if article.amount < 1 %}
                                    {% else %}
                                        <label><input type="checkbox" name="selected_articel[]"
                                                      value="{{ article.id }}"></label>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                {% csrf_token %}
                <input class="btn btn-success" type="submit" name="ausgeben" value="Ausgeben">
                <a href="{% url 'skripten_shop:reorder' %}" class="btn btn-primary" role="button">Nachbestellung</a>
            </form>
        {% endif %}
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "js/tablesorter-master/js/jquery.tablesorter.js" %}"></script>
    <script type="text/javascript" src="{% static "js/tablesorter-master/js/jquery.tablesorter.widgets.js" %}"></script>
    <script type="text/javascript" src="{% static "skripten_shop/js/ausgabe_tablesorter.js" %}"></script>
{% endblock %}