{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    {% if error_message %}
        <div class="container">
            <div class="alert alert-danger">
                <strong>{{ error_message }}</strong>
            </div>
        </div>
    {% endif %}


    {% if success_message %}
        <meta http-equiv="refresh" content="1;url={% url 'skripten_shop:scan-legic' %}">
        <div class="container">
            <div class="alert alert-success">
                <strong>{{ success_message }}</strong>
            </div>
        </div>

    {% else %}

        <div class="container">

            <div class="panel panel-warning">
                <div class="panel-heading">Legic Aktualisierung</div>
                <div class="panel-body">

                    <p>
                        Mit diesem Modul kann dem Studenten eine neue Legic-ID zugewiesen werden (z.B. wg. einer neuen
                        Karte).
                        Hierfür muss die bei der Registrierung angegebene E-Mail Adresse eingegeben werden. Sollte diese
                        nicht mehr bekannt sein, bitte an den Vorstand wenden.
                    </p>
                    <p><strong style="color: red">Achtung: Dieses Modul dient nicht zur Aktivierung!</strong>
                        <br>

                    <form action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <input class="btn btn-primary" type="submit" name="search" value="Speichern">
                    </form>

                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}