{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


    <div class="container">

        {% if error_message %}
            <div class="container">
                <div class="alert alert-danger">
                    <strong>{{ error_message }}</strong>
                </div>
            </div>
        {% endif %}


        {% if form %}
            <div class="panel panel-success">
                <div class="panel-heading">Skripten Ausgabe</div>
                <div class="panel-body">

                    <form action="" method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                </div>
            </div>
        {% endif %}

    </div>


{% endblock %}


