{% extends 'base.html' %}
{% load tp_tags %}


{% block content %}
    <div class="container">
        <h3>Statistik fürs {% current_semester %}</h3>
        <br>

        <p>Aktive Studenten: {{ total_students }}</p>
        <p>Gesamt ausgegeben: {{ total }}</p>

        <table class="table table-striped add-to-cart">
            <thead>
            <tr>
                <th>Skript-Nr.</th>
                <th>Skriptname</th>
                <th>Total ausgegeben</th>
            </tr>
            </thead>
            <tbody>
            {% for x in data %}
                <tr>
                    <td>{{ x.0 }}</td>
                    <td>{{ x.0.name }}</td>
                    <td>{{ x.1 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
