{% load static %}

<!DOCTYPE html>
<html>
<body>
<div>

    <p>Hallo {{ user.first_name }} {{ user.last_name }},</p>

    <p>du erhälst diese Email, weil du dich für den Skriptendienst der Fachschaft 04 angemeldet hast.
        <br>
        Öffne bitte den folgden Link, um deine Anmeldung abzuschließen:</p>

    <div align="center">
        <a href="{{ confirm_url }}">E-Mail-Adresse bestätigen</a>
    </div>

    <p>Viele Grüße</p>

    <strong>Fachschaft 04 Elektrotechnik und Informationstechnik</strong>

</div>
</body>
</html>